@import "./fish.css";
@import "./locations.css";
@import "./quotes.css";
@import "./tips.css";


.header {
    display: flex;
    justify-content: left;
}

.logo {
    height: 5rem
}

.headline {
    text-align: center;
    font-size: 1.5rem;
}

.container {
    display: flex;
}

